.contact-bannerMain{
    margin-top: -14rem;
    padding: 4rem 5rem;
    border: 1px solid darkblue;
    .textWrapper{
     
        margin-bottom: 5rem;
    }
    .infoWrapper{
        padding: .2rem .2rem;
    }
}