.projectBannerMain{
    display: block;
    margin-top: -10rem;
    width:100%;
    height: 55rem;
    background-color: #fff;
    color: #222;
    .bannerMainWrapper {
      display: block;
      width: 40rem;
      height: 50vh;
      margin-top: -5rem;
      padding: 1.2rem 7rem;
    .projectDescription {
      .imgWrapper{
        width: 30rem;
        img {
            width: 100%;
        }
      }
    }
		
    }
    .paragraphAnimation {
        margin-top: 10px;
    }
    .intro {
      display: table-cell;
      vertical-align: middle;
      height: 20rem;
      padding: 1.2rem 2rem;
    }
    .textWrapper2{
          padding: 1.2rem 2rem;
    }
}

.projectBannerMain2{
    width: 100%;
    .textBox {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      height: 8rem;
      .title { 
          width: 10rem;
          height: 30px;
      }
    }
    }

    
  .bannerMainWrapper2 {
      position: relative;
      display: flex;
      justify-content: flex-end;   
      margin-top: -13rem;
      margin-bottom: 10rem;
      .projectDescription {
      }
    }
    .paragraphAnimation {
      margin-top: 10px;
    }
    .intro {
      display: table-cell;
      vertical-align: middle;
      height: 20rem;
      padding: 1.2rem 2rem;
    }
    .textWrapper2{
      padding: 1.2rem 2rem;
    }

    .buttonBox {
      display : flex;
			#button {
				background-color: #000000;
				margin: 2rem 2rem 0 0;
				width: 10rem;
				height: 50px;
				border: 1px solid #000000;
				.btnWrapper {
					color: #fff;
					font-size: 11px;
					position: relative;
					font-weight: 600;
					text-transform: uppercase;
					cursor: pointer;
					transition: all 0.5s ease-in-out;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					#signinbox {
						margin-top: 2%;
						height: 35%;
						border-bottom: 1.8px solid #000;
						transition: all 1s ease;
					}
					#signinbox:hover {
						margin-top: 2%;
						height: 35%;
						cursor: pointer;
						border-bottom: 1.8px solid #fff;
						transition: all 1.1s ease;
					}
				}
      }
    }