.projectBannerMain{
    display: block;
    margin-top: -10rem;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    color: #222;
    border: 1px solid darkcyan;
    .bannerMainWrapper {
        display: block;
        width: 40rem;
        height: 50vh;
        margin-top: -5rem;
        padding: 1.2rem 7rem;
        border: 1px solid red;
        
        .projectDescription {
            border: 1px solid yellow;
            .imgWrapper{
                width: 30rem;
                img {
                    width: 100%;
                }
            }
    }
    }
    .paragraphAnimation {
        margin-top: 10px;
    }
    .intro {
          display: table-cell;
        vertical-align: middle;
        height: 20rem;
          padding: 1.2rem 2rem;
       
        // border: 1px solid orangered;
    }
    .textWrapper2{
          padding: 1.2rem 2rem;
    }
   
}


.projectBannerMain2{
    display: flex;

    .textBox {
            display: flex;
              justify-content: space-between;
              width: 80rem;
              height: 80px;
              
        .text{
          display: flex;
          justify-content: space-between;
       
          border: 1px solid saddlebrown;
          width: 100px;
          height: 30px;
          
      }
      .title {
          display: block;     
          width: 150px;
          height: 30px;
            border: 1px solid saddlebrown;
      }
    }
    // display: block;
    // margin-top: -10rem;
    // width: 100vw;
    // height: 100vh;
    // background-color: #fff;
    // color: #222;
    // border: 1px solid darkcyan;
    
  .bannerMainWrapper2 {
      position: relative;
      display: flex;
      justify-content: flex-end;
        // position: relative;
        // display: flex;
        // justify-content: flex-end;
        // width: 70vw;
        // height: 50vh;
        // margin-top: -5rem;
        // padding: 1.2rem 7rem;
    //     .text {
    //         border: 1px solid green;
    //         display:block;

    //     }
    //     .title { 
    //          border: 1px solid green;
    //         display:block;
    //     }
    //     .projectDescription {
            
    //         border: 1px solid yellow;
    //     .imgWrapper{
    //          display: flex;
    //     justify-content: flex-end;
    //          position: relative;
    //             width: 30rem;
    //             img {
    //                 width: 100%;
    //             }
    //         }      
    //         .videoBtnWrapper {
    //             display: block;
    //         }
    // }
     
    }

    
    .paragraphAnimation {
        margin-top: 10px;
    }
    .intro {
          display: table-cell;
        vertical-align: middle;
        height: 20rem;
          padding: 1.2rem 2rem;
       
        // border: 1px solid orangered;
    }
    .textWrapper2{
          padding: 1.2rem 2rem;
    }
   
}





