@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
@import './varibles.scss';
@import './breakpoints.scss';
@import './components/header.scss';
@import './components/banner.scss';
@import './components/cases.scss';
@import './components/navigation.scss';

body,
html {
  visibility: hidden;
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 1560px;
  min-width: 1560px;
  margin: 0 auto;
  height: 100%;

  @include media('<=1560px') {
    width: 1280px;
    min-width: 1280px;
  }
  @include media('<=desktop') {
    width: 1080px;
    min-width: 1080px;
  }
  @include media('<=1080px') {
    width: 100%;
    min-width: 100%;
  }
  .row {
    display: flex;
    height: 100%;
    // padding: 20px 32px;
    // border: 1px solid red;
    @include media('<=phone') {
      padding: 0 16px;
    }
  }
  .v-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
  .row {
    display: flex;
    height: 100%;

    /*여기에 옮기면 될끼 ? */
  }
}

// intro overlay
.intro-overlay {
  // home.js
  .top {
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
    position: absolute;
    width: 100%;
    z-index: 8;
    .overlay-top {
      position: absolute;
      height: 100%;
      width: 33.333vw;
      background: $black;
      bottom: 0;
      left: 0;
      right: 0;
      @include media('<=tablet') {
        width: 100vw;
      }
      &:nth-child(2) {
        left: 33.333%;
        @include media('<=tablet') {
          display: none;
        }
      }
      &:nth-child(3) {
        left: 66.666%;
        // background: pink;
        @include media('<=tablet') {
          display: none;
        }
      }
    }
  }
  .bottom {
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 8;
    .overlay-bottom {
      position: absolute;
      height: 100%;
      width: 33.333vw;
      background: $black;
      bottom: 0;
      right: 66.666%;
      @include media('<=tablet') {
        right: 0;
        width: 100vw;
      }
      &:nth-child(2) {
        right: 33.333%;
        @include media('<=tablet') {
          width: 100vw;
          top: 100%;
          right: 0;
        }
      }
      &:nth-child(3) {
        right: 0;
        @include media('<=tablet') {
          width: 100vw;
          top: 200%;
        }
      }
    }
  }
}

.App {
  z-index: 2;
  transform: translateY(0);
  position: relative;
}

.page {
  height: 100vh;
  width: 100%;
  background: $white;
  .row {
    display: flex;
    align-items: center;
    .projectPageLayout {
      padding-top: 8rem;
      width: 100vw;
      height: 100vh;

      /*aboutpage*/
      .aboutBannerMain {
        padding: 1rem 0;
        width: 100vw;
        // height: 150vh;
        background-color: black;
        color: #fff;
        padding-left: 0.5rem;

        .intro {
          .main-wrapper {
            .text {
              .headingUppercaseInline {
                .line {
                  opacity: 1;
                  transform: translate(0px, 0%);
                }
                .symbol-right {
                  opacity: 1;
                }
              }
              .h2Uppercase animation-line {
                .line {
                  display: block;
                  text-align: start;
                  width: 100%;
                }
              }
            }
          }
        }

        .resumeWrapper {
          .container {
            width: 20rem;
            border-bottom: 1px solid white;
          }
          .container:last-child {
            border-bottom: none;
          }
        }
      }

      /*projectpage*/
      .projectBannerMain {
        padding: 1rem 0;
        width: 100vw;
        // height: 150vh;
        background-color: black;
        color: #fff;
        padding-left: 0.5rem;

        .intro {
          .main-wrapper {
            .text {
              .headingUppercaseInline {
                .line {
                  opacity: 1;
                  transform: translate(0px, 0%);
                }
                .symbol-right {
                  opacity: 1;
                }
              }
              .h2Uppercase animation-line {
                .line {
                  display: block;
                  text-align: start;
                  width: 100%;
                }
              }
            }
          }
        }

        .resumeWrapper {
          .container {
            width: 20rem;
            border-top: 1px solid white;
          }
        }
      }

      //contact
      .contactBannerMain {
        padding: 1rem 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        color: #fff;
        padding-left: 0.5rem;

        .container {
          width: 20rem;
        }

        .intro {
          width: 2180px;
          height: 30rem;
          padding: 10rem;
          margin: 10rem;

          // background-color: rgb(255, 255, 255);
          // color: rgb(10, 11, 13);
          color: rgb(255, 255, 255);
          font-family: inter;
          // padding: 20px 16px;
          max-width: 310px;
          margin: 0px auto;
          border-radius: 0.7rem;
          .infoWrapper {
            display: flex;
            margin-bottom: 24px;
            align-items: flex-start;
            width: 100%;
            height: 100%;
          }
          .linkedinWrapper {
            display: flex;
            margin-bottom: 24px;
            align-items: flex-start;
            width: 123%; //130%;
            height: 100%;
          }
          .at-svg {
            color: rgb(172, 181, 191);
            padding-right: 0.7rem;
          }
          .at-svg-git {
            color: rgb(172, 181, 191);
            padding-right: 0.6rem;
            margin-left: -3px;
          }
          .btnWrapper {
            width: 90rem;
          }
          .email-style {
            padding: 0px;
            margin: 0px;
            // color: rgb(10, 11, 13);
            color: rgb(255, 255, 255);
            font-weight: 400;
            line-height: 1.5;
          }
          .phone {
            padding: 0px;
            margin: 0px;
            color: rgb(255, 255, 255);
            font-weight: 400;
            line-height: 1.5;
            text-decoration: none;
          }
          .textContainer {
            padding: 0px;
            margin: 0px;
            color: rgb(255, 255, 255);
            font-weight: 400;
            line-height: 1.5;
            font: inherit;
            vertical-align: baseline;
          }
          .main-wrapper {
            .text {
              .headingUppercaseInline {
                .line {
                  opacity: 1;
                  transform: translate(0px, 0%);
                }
                .symbol-right {
                  opacity: 1;
                }
              }
              .h2Uppercase animation-line {
                .line {
                  display: block;
                  text-align: start;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
